.result-list__container {
  background-color: white !important;
  position: absolute !important;
  padding: 0 !important;
  width: 100%;
  max-height: calc(100vh - 160px);
  overflow: scroll;
}
.result-list__result {
  color: #333 !important;
  &:not(.result-list__result--no-link):hover {
    background-color: #eee !important;
  }
  .result-list__result-highlighted {
    background-color: #ddd;
    padding: 0.1em 0;
  }
}
