.result-list__container {
  background-color: white !important;
  position: absolute !important;
  padding: 0 !important;
  width: 100%;
  overflow: hidden;
}
.result-list__result {
  color: #444 !important;
  &:not(.result-list__result--no-link):hover {
    background-color: #eee !important;
  }
}
