.pro {
  width: 33%;
  background-color: #eee;
  /* margin: 3px; */
  padding: 10px;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pro .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

.pro .title {
  font-weight: normal;
  margin-top: 0;
}
