.account-menu__index {
  position: absolute;
}
.index-page__container {
  position: relative;
  height: 100vh;
  min-height: 100%;
  justify-content: center;
}
.index-page__content {
  background: rgba(255, 255, 255, 0.19);
  text-align: center;
  width: 100%;
  position: relative;
}
.index-page__logo {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 50%;
  top: 0;
  background: white;
  transform: translateX(-50%) translateY(-90%);
  border-radius: 50%;
  padding: 1.5em;
}
.index-page__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  filter: brightness(0.66);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
