.service__container {
  padding: 0.66em 1em 0;
  overflow: hidden;
}
.map-static__container {
  @media (max-width: 599.95px) {
    height: 150px;
    overflow: hidden;
    justify-content: center;
    border-radius: 4px;
    .map-static__address {
      display: none;
      visibility: hidden;
    }
  }
}
.service__map {
  text-align: center;
  @media (max-width: 599.95px) {
    height: 150px;
  }
}

.map-static__hover {
  border-radius: 4px;
  overflow: hidden;
}
.service-price {
  background: blue;
  color: white;
  padding: 1em;
  margin: 1em -1em 0 -1em;
  @media (max-width: 599.95px) {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
  }
}
.service-avatar {
  display: flex;
  margin: 1em 0;
  .service-avatar__image {
    width: 64px;
    height: 64px;
    margin-right: 1em;
    border-radius: 50%;
  }
  .service-avatar__details {
    .service-avatar__name {
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}
.service-actions {
  @media (max-width: 599.95px) {
    text-align: center;
    button {
      width: 100%;
    }
  }
}
