.map-marker {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  user-select: none;
  transform-origin: center;
  position: absolute;
  transition: all 0.23s ease, top 0s, left 0s;
}
.map-marker__google {
  &:hover {
  }
  top: 50%;
  left: 50%;
}
.map-marker__osm,
.map-marker__mapbox {
}
