.map-static__container {
  flex-direction: column;
  display: inline-flex;
  align-items: flex-start;
  max-width: 100%;
  .map-static__hover {
    position: relative;
    img {
      object-fit: cover;
    }
    &:hover {
      .map-static__marker {
        transform: translateX(-50%) translateY(-50%) scale(0.66);
      }
    }
  }
  .map-static__marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
    transition: transform 0.1s ease;
    cursor: pointer;
  }
  .map-static__address {
    margin: 0.5em 0;
    vertical-align: middle;
    display: flex;
  }
}
