.map-static__container {
  position: relative;
  flex-direction: column;
  display: inline-flex;
  align-items: flex-start;
  max-width: 100%;
  .map-static__marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
    transition: transform 0.1s ease;
    cursor: pointer;
    &:hover {
      transform: translateX(-50%) translateY(-50%) scale(0.66);
    }
  }
  .map-static__address {
    margin-top: 1em;
    vertical-align: middle;
    display: flex;
  }
}
