.small-gig__container {
  &:not(.small-gig__container--loading):hover,
  &.small-gig__container--hover {
    cursor: pointer;
    // transform: scale(1.06);
    background-color: #ddd;
  }
}
.small-gig__container--loading {
  .small-gig__avatar {
    width: 64px;
    height: 64px;
  }
  .small-gig__title,
  .small-gig__provider,
  .small-gig__avatar {
    background: repeating-linear-gradient(to right, #ccc 0%, #eee 50%, #ccc 100%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 1s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .small-gig__title {
    height: 24px;
    border-radius: 16px;
  }
  .small-gig__provider {
    margin-top: 8px;
    height: 16px;
    border-radius: 8px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
